<div class="container">
  <h1>Ranks</h1>

  <table>
    <thead>
      <tr>
        <th>이름</th>
        <th>점수 (56점 만점)</th>
        <th>시간</th>
      </tr>
    </thead>

    <tbody>
      <% @ranks.each do |rank| %>
        <tr>
          <td><%= rank.name %></td>
          <td><%= rank.score %></td>
          <td><%= rank.created_at.in_time_zone('Seoul').strftime("%Y. %m. %e, %H:%M:%S")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '학습하기!', root_path, class: "btn" %>
</div>
