/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "materialize/components/color";
$primary-color: color("yellow", "darken-4") !default;
@import "materialize";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
